<?xml version="1.0"?>
<log4net>
  <appender name="DebugAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.SimpleLayout" />
  </appender>

  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs\" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />

    <!-- Permite borrado con el fichero todavia activo -->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    
    <!-- http://msdn.microsoft.com/en-us/library/system.globalization.datetimeformatinfo.aspx -->
    <datePattern value="yyyy-MM-dd ddd.'log'" /> 
    
    <layout type="log4net.Layout.PatternLayout">
      <!-- ABSOLUTE significa coger el log4net.DateFormatter.AbsoluteTimeDateFormatter
           que se supone mas rapido que usar ToString (equivaldria a %date{HH:mm:ss,fff}) -->
      <conversionPattern value="%date{ABSOLUTE} [%thread] %-5level %logger [%property{ServerName}] - %message%newline" />
    </layout>
  </appender>
  
  <root>
    <level value="ALL" />
    <appender-ref ref="DebugAppender" />
    <appender-ref ref="RollingLogFileAppender" />
  </root>
</log4net>
