<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="true">

  <variable name="logDirectory" value="${basedir}/logs"/>
  <variable name="stdLogFileName" value="${logDirectory}/${date:format=yyyy-MM-dd ddd}.log"/>
  <variable name="xmlLogFileName" value="${logDirectory}/${date:format=yyyy-MM-dd ddd}.xml"/>
  <variable name="defaultLayout" value="${machinename} ${date:format=HH\:mm\:ss.fff} [${level:upperCase=true}] [${threadid}] [${logger}] ${message}${onexception:, ${exception:format=tostring}}"/>

  <!-- http://nlog-project.org/wiki/Configuration_File -->
  <targets>

    <!-- El thread de la cola pasara cada XX ms y procesara XXX mensajes pendientes. La cola almacenara XXXX como mucho, descartando si entran mas -->
    <target name="asyncFile" xsi:type="AsyncWrapper" timeToSleepBetweenBatches="50" batchSize="100" queueLimit="10000" overflowAction="Discard">
      <target name="logfile" xsi:type="File" keepFileOpen="false" concurrentWrites="true" autoFlush="true"
              fileName="${stdLogFileName}"
				      layout="${defaultLayout}"/>
    </target>

    <target name="asyncXMLFile" xsi:type="AsyncWrapper" timeToSleepBetweenBatches="50" batchSize="100" queueLimit="10000" overflowAction="Discard">
      <target name="logfile" xsi:type="File" keepFileOpen="false" concurrentWrites="true" autoFlush="true"
              fileName="${xmlLogFileName}"
				      layout="${log4jxmlevent}"/>
    </target>

    <target name="asyncNetwork" xsi:type="AsyncWrapper">
      <target name="network" xsi:type="Network" address="udp4://unusualtwo.unusualwonder.com:1000" encoding="utf-8" keepConnection="false" layout="${defaultLayout}"/>
    </target>

    <target name="asyncDebugger" xsi:type="AsyncWrapper">
      <target xsi:type="Debugger" name="debugger" layout="${defaultLayout}" />
    </target>

  </targets>

  <rules>
    <logger name="SoccerServer.Ping" minlevel="Fatal" final="true"/>

    <logger name="*.Perf" minlevel="Fatal" final="true"/>
    
    <logger name="NetEngine.*" minlevel="Info" writeTo="asyncDebugger, asyncFile,  network" />
    <logger name="Realtime.*" minlevel="Info" writeTo="asyncDebugger, asyncFile, network" />
    <logger name="HttpService.*" minlevel="Debug" writeTo="asyncDebugger, asyncFile, network" />
    <logger name="SoccerServer.*" minlevel="Debug" writeTo="asyncDebugger, asyncFile, network" />
    <logger name="ServerCommon.*" minlevel="Debug" writeTo="asyncDebugger, asyncFile, network" />
    
    <logger name="Weborb" minlevel="Debug" writeTo="asyncDebugger, asyncFile, network" />
  </rules>
</nlog>