<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="SoccerV2ConnectionString" 
		connectionString="Data Source=localhost;Initial Catalog=SoccerV2;Integrated Security=True" 
		xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>

  <!--
	<appSettings xdt:Transform="Replace">
		<add key="ApiKey" value="2b2a56efd754ef426ae81b115a3dda98" />
		<add key="Secret" value="bdc5e672a1447f4d917fbf847981cb0d" />

		<add key="Callback" value="http://mahouligachapas.unusualwonder.com/" />
		<add key="Suffix" value="mahouligachapas" />
	</appSettings>
  -->
</configuration>