<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="facebookSettings" type="Facebook.FacebookConfigurationSection" />
    <section name="soccerServerConfig" type="SoccerServer.ServerConfig" />
  </configSections>
  
  <connectionStrings>
    <add name="SoccerV2ConnectionString" connectionString="Data Source=localhost;Initial Catalog=SoccerV2;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SoccerDataContext" connectionString="metadata=res://*/SoccerEntityModel.csdl|res://*/SoccerEntityModel.ssdl|res://*/SoccerEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SoccerV2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.web>
    <!-- Esto desactiva las cookies -> desactiva todo
    <sessionState mode="Off" /> 
    -->
    <!-- Muestra los errores desde cualquier cliente
    <customErrors mode="Off"/>
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages clientIDMode="AutoID">
      <namespaces><add namespace="Facebook.Web" /></namespaces>
    </pages>
  </system.web>
  
  <system.webServer>
    <!-- Uso de la seccion system.webServer (Integrated Mode) en vez de la antigua system.web (Classic Mode) -->
    <!-- http://learn.iis.net/page.aspx/243/aspnet-integration-with-iis-7/ -->
    <handlers>
      <add name="weborb.aspx_*" verb="*" path="weborb.aspx" type="Weborb.ORBHttpHandler" />
      <add name="codegen.aspx_*" verb="*" path="codegen.aspx" type="Weborb.Management.CodeGen.CodegeneratorHttpHandler" />
      <!-- ADD THE LINE BELOW ONLY WITH WEBORB v. 4 -->
      <add name="dcd.aspx_*" verb="*" path="dcd.aspx" type="Weborb.RDS.Handler.FrontEndHttpHandler" />
      <add name="facebookredirect.axd" verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
    </handlers>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    <!--
    <defaultDocument>
      <files><add value="Default.aspx" /></files>
    </defaultDocument>
    -->
  </system.webServer>
  
  <!-- La cancelUrlPath hemos detectado que es la direccion adonde nos manda tras un "Don't allow". Si la dejas vacia, te manda a facebook.com -->
  <facebookSettings appId="100203833418013" appSecret="bec70c821551670c027317de43a5ceae" 
                    canvasPage="http://apps.facebook.com/unusualsoccerlocal/" 
                    canvasUrl="http://localhost/" secureCanvasUrl="https://localhost/" 
                    cancelUrlPath="Cancelled.aspx" />
  
  <soccerServerConfig versionID="MahouLigaChapas" title="localhost" imageUrl="" description=""
                      enableRealtime="true" ticketingSystem="false" sameIPAbandonsChecked="false" 
                      remoteServer="mahouligachapas.unusualwonder.com" realtimeServer=""/>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Facebook" publicKeyToken="58cb4f2111d1e6de" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.1.0" newVersion="5.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>