<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <facebookSettings appId="129447350433277" appSecret="bdc5e672a1447f4d917fbf847981cb0d"
                    canvasPage="http://apps.facebook.com/mahouligachapas/"
                    canvasUrl="http://mahouligachapas.unusualwonder.com/" secureCanvasUrl="https://mahouligachapas.unusualwonder.com/"
                    cancelUrlPath="Cancelled.aspx"
                    xdt:Transform="SetAttributes"/>

  <soccerServerConfig versionID="MahouLigaChapas" enableRealtime="true" ticketingSystem="false" sameIPAbandonsChecked="true" 
                      remoteServer="" realtimeServer=""
                      xdt:Transform="SetAttributes"/>
</configuration>