<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="facebookSettings" type="Facebook.FacebookConfigurationSection" />
    <section name="soccerServerConfig" type="ServerCommon.ServerConfig" />
  </configSections>

  <connectionStrings>
    <add name="SoccerV2ConnectionString" connectionString="Data Source=localhost;Initial Catalog=SoccerV2;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <!-- Esto desactiva las cookies -> desactiva todo -->
    <sessionState mode="Off" /> 
    
    <!-- Muestra los errores desde cualquier cliente
    <customErrors mode="Off"/>
    -->
    <!-- Super trazas despues del render de la pagina
    <trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="false" />
    -->
    
    <compilation debug="true" targetFramework="4.0"></compilation>
    
    <!-- Como se generan los IDs de los controles para su acceso desde el cliente. Lo dejamos por si acaso algun dia usas controles FB -->
    <pages clientIDMode="AutoID"><namespaces><add namespace="Facebook.Web" /></namespaces></pages>
  </system.web>
  
  <system.webServer>
    <!-- Uso de la seccion system.webServer (Integrated Mode) en vez de la antigua system.web (Classic Mode) -->
    <!-- http://learn.iis.net/page.aspx/243/aspnet-integration-with-iis-7/ -->
    <handlers>
      <add name="weborb.aspx_*" verb="*" path="weborb.aspx" type="Weborb.ORBHttpHandler" />
      <add name="codegen.aspx_*" verb="*" path="codegen.aspx" type="Weborb.Management.CodeGen.CodegeneratorHttpHandler" />
      <!-- ADD THE LINE BELOW ONLY WITH WEBORB v. 4 -->
      <add name="dcd.aspx_*" verb="*" path="dcd.aspx" type="Weborb.RDS.Handler.FrontEndHttpHandler" />
      <add name="facebookredirect.axd" verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
    </handlers>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    <!--
    <defaultDocument>
      <files><add value="Default.aspx" /></files>
    </defaultDocument>
    -->
  </system.webServer>
  
  <!-- La cancelUrlPath hemos detectado que es la direccion adonde nos manda tras un "Don't allow". Si la dejas vacia, te manda a facebook.com -->
  <facebookSettings appId="100203833418013" appSecret="bec70c821551670c027317de43a5ceae" 
                    canvasPage="http://apps.facebook.com/unusualsoccerlocal/" 
                    canvasUrl="http://localhost/" secureCanvasUrl="https://localhost/" 
                    cancelUrlPath="Cancelled.aspx" />
  
  <soccerServerConfig versionID="UnusualSoccer" enableRealtime="true" ticketingSystem="false" sameIPAbandonsChecked="false" 
                      remoteServer="" realtimeServer=""/>
 
</configuration>