<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="tuentiSettings" type="ServerCommon.TuentiConfig" />
    <section name="soccerServerConfig" type="ServerCommon.ServerConfig" />
  </configSections>

  <connectionStrings>
    <add name="SoccerV2ConnectionString" connectionString="Data Source=localhost;Trusted_Connection=Yes;Initial Catalog=SoccerV2;Integrated Security=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>



  <system.web>
    <!-- Esto desactiva las cookies -> desactiva todo
    <sessionState mode="Off" /> 
    -->
    <!-- Muestra los errores desde cualquier cliente
    <customErrors mode="Off"/>
    -->
    <!-- Super trazas despues del render de la pagina
    <trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="false" />
    -->

    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <pages clientIDMode="AutoID">
      <namespaces>
        <!--<add namespace="Facebook.Web" />-->
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <!-- Uso de la seccion system.webServer (Integrated Mode) en vez de la antigua system.web (Classic Mode) -->
    <!-- http://learn.iis.net/page.aspx/243/aspnet-integration-with-iis-7/ -->
    <handlers>
      <add name="weborb.aspx_*" verb="*" path="weborb.aspx" type="Weborb.ORBHttpHandler" />
      <add name="codegen.aspx_*" verb="*" path="codegen.aspx" type="Weborb.Management.CodeGen.CodegeneratorHttpHandler" />
      <!-- ADD THE LINE BELOW ONLY WITH WEBORB v. 4 -->
      <add name="dcd.aspx_*" verb="*" path="dcd.aspx" type="Weborb.RDS.Handler.FrontEndHttpHandler" />
    </handlers>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name=" X-XSS-Protection" value="0" />
      </customHeaders>
    </httpProtocol>
    <!--
    <defaultDocument>
      <files><add value="Default.aspx" /></files>
    </defaultDocument>
    -->
  </system.webServer>

  <!-- La cancelUrlPath hemos detectado que es la direccion adonde nos manda tras un "Don't allow". Si la dejas vacia, te manda a facebook.com -->
    <!-- Release 
  <tuentiSettings apiKey = "9aa5057054f76552ff2f5eb151cb69f3"
                  canvasPage = "http://www.tuenti.com/"
                  m = "Game"
                  func = "index"
                  page_key = "6_700_350"
                  signedRequestParam = ""
                  canvasUrl = "http://tuentichapas.unusualwonder.com/"
                  secureCanvasUrl = ""
                  cancelUrlPath = "Cancelled.aspx" />

  <soccerServerConfig versionID="MahouLigaChapas" enableRealtime="true" ticketingSystem="false" sameIPAbandonsChecked="false"
                      remoteServer="http://tuentichapas.unusualwonder.com" realtimeServer=""/>
  -->
  <!-- Debug -->
  <tuentiSettings apiKey = "9aa5057054f76552ff2f5eb151cb69f3"
                  canvasPage = "http://www.tuenti.com/" 
                  m = "Game" 
                  func = "index" 
                  page_key = "6_677_723"
                  signedRequestParam = "" 
                  canvasUrl = "http://localhost/" 
                  secureCanvasUrl = "https://localhost/"
                  cancelUrlPath = "Cancelled.aspx" />


  <soccerServerConfig versionID="MahouLigaChapas" enableRealtime="true" ticketingSystem="false" sameIPAbandonsChecked="false"
                      remoteServer="localhost" realtimeServer=""/>

</configuration>