<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="SoccerV2ConnectionString"
      connectionString="Data Source=sql01.unusualsoccer.com;Initial Catalog=SoccerV2;User ID=sa;Password=Rinoplastia123&amp;.;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <facebookSettings appId="220969501322423" appSecret="faac007605f5f32476638c496185a780"
                    canvasPage="http://apps.facebook.com/unusualsoccer/"
                    canvasUrl="http://canvas.unusualsoccer.com/" secureCanvasUrl="https://canvas.unusualsoccer.com/"
                    cancelUrlPath="Cancelled.aspx"
                    xdt:Transform="SetAttributes"/>

  <soccerServerConfig versionID="UnusualSoccer" title="Unusual Soccer" imageUrl="http://canvas.unusualsoccer.com/Imgs/Logo75x75_en_US.png" description=""
                      enableRealtime="false" ticketingSystem="true" sameIPAbandonsChecked="true" 
                      remoteServer="" realtimeServer="realtime01.unusualsoccer.com"
                      xdt:Transform="SetAttributes"/>
</configuration>