<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <facebookSettings appId="129447350433277" appSecret="bdc5e672a1447f4d917fbf847981cb0d"
                    canvasPage="http://apps.facebook.com/mahouligachapas/"
                    canvasUrl="http://mahouligachapas.unusualwonder.com/" secureCanvasUrl="https://mahouligachapas.unusualwonder.com/"
                    cancelUrlPath="Cancelled.aspx"
                    xdt:Transform="Replace"
                    />

  <soccerServerConfig versionID="MahouLigaChapas" title="Mahou Liga Chapas" imageUrl="http://mahouligachapas.unusualwonder.com/Imgs/Logo75x75.png" 
                      description="Mahou Liga Chapas es el juego definitivo de fútbol en Facebook. Configura tu equipo, entrena a tus jugadores, consigue habilidades especiales y compite con tus amigos en partidos llenos de emoción. ¡Bienvenido a Mahou Liga Chapas!"
                      ticketingSystem="false" sameIPAbandonsChecked="true"
                      remoteServer=""
                      xdt:Transform="Replace"/>

  
</configuration>