<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <facebookSettings appId="191393844257355" appSecret="a06a6bf1080247ed87ba203422dcbb30"
                    canvasPage="http://apps.facebook.com/unusualsoccerdev/"
                    canvasUrl="http://unusualsoccerdev.unusualwonder.com/" secureCanvasUrl="https://unusualsoccerdev.unusualwonder.com/"
                    cancelUrlPath="Cancelled.aspx"
                    xdt:Transform="SetAttributes" />

  <soccerServerConfig versionID="UnusualSoccer" title="Unusual Soccer" imageUrl="http://unusualsoccerdev.unusualwonder.com/Imgs/Logo75x75_en_US.png" description=""
                      enableRealtime="true" ticketingSystem="true" sameIPAbandonsChecked="true" 
                      remoteServer="" realtimeServer=""
                      xdt:Transform="SetAttributes"/>
</configuration>