<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="Photon">
			<sectionGroup name="CommandDecorator">
				<section name="Default" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" restartOnExternalChanges="true" />
			</sectionGroup>

			<sectionGroup name="Commands">
				<section name="V1.0" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" restartOnExternalChanges="true" />
			</sectionGroup>

			<sectionGroup name="Profiles">
				<section name="Default" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" restartOnExternalChanges="true" />
				<section name="EU6" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" restartOnExternalChanges="true" />
				<section name="EU3" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" restartOnExternalChanges="true" />
				<section name="WGT" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" restartOnExternalChanges="true" />
				<section name="Markus" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" restartOnExternalChanges="true" />
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<Photon>
		<Profiles>
			<Default>
				<!-- Photon.Components -->
				<add key="ExceptionLimit" value="99" />
				<add key="LockTimeout" value="5000" />
				<add key="BadwordFilterSection" value="Photon/BadwordFilter" />
				<add key="PerformanceCounterEnabled" value="false" />

				<!-- Photon.Rpc.Server -->
				<add key="ApiVersion" value="1.0" />
				<add key="UseInvocationCache" value="False" />
				<add key="OperationLogger" value="" />
				<add key="ExpireInvocation" value="1" />
				<add key="ClientLibToVersionMappingGroup" value="" />
				<add key="HttpHeaderKeySection" value="" />
				<add key="GpOperationAttributeCode" value="Exitgames.Photon.Rpc.GpOperationAttributeCode, Photon.Rpc" />
				<add key="GpOperationCode" value="Exitgames.Photon.Rpc.GpOperationCode, Photon.Rpc" />

				<!-- Photon.CommandFramework -->
				<add key="CommandGroup" value="Photon/Commands" />
				<add key="CommandDecoratorGroup_Dev" value="Photon/CommandDecorator/Default" />
				<add key="Stage" value="Dev" />

				<!-- Photon.SocketServer -->
				<add key="log4net" value="bin/photon.local.log4net" />

				<!-- Photon.SocketServer.Components - value="type, assembly" -->
				<add key="DefaultApplicationServer"
					 value="Exitgames.Realtime.Lite.Application.Lite, Lite.Application" />
			</Default>

			<EU6>
				<!-- Photon.SocketServer -->
				<add key="log4net" value="bin/photon.dev.log4net" />
			</EU6>

			<EU3>
				<!-- Photon.SocketServer -->
				<add key="log4net" value="bin/photon.live.log4net" />
			</EU3>

			<WGT>
				<!-- Photon.SocketServer -->
				<add key="log4net" value="bin/photon.live.log4net" />
			</WGT>

			<Markus></Markus>
		</Profiles>

		<!-- ClientLibToApiMapping -->
		<!--
		<ClientLibToApiMapping>
			<add key="0.0.0" value="1.0" />
		</ClientLibToApiMapping>
		-->

		<!-- Commands - value="type, assembly" -->
		<Commands>
			<V1.0>
				<add key="rtjoin" value="Exitgames.Realtime.Lite.Commands.Join, Lite.Commands" />
				<add key="rtleave" value="Exitgames.Realtime.Lite.Commands.Leave, Lite.Commands" />
				<add key="rtraiseevent" value="Exitgames.Realtime.Lite.Commands.RaiseEvent, Lite.Commands" />
			</V1.0>
		</Commands>

		<!-- CommandDecorator -->
		<CommandDecorator>
			<Default>
				<add key="FatalCommand" value="Exitgames.Photon.CommandFramework.Commands.FatalCommandDecorator, Photon.CommandFramework" />
				<add key="Connection" value="disabled" />
				<add key="Transaction" value="disabled" />
				<add key="TransactionLog" value="disabled" />
				<add key="DurationLog" value="disabled" />
				<add key="Default" value="disabled" />
				<add key="ErrorLog" value="disabled" />
			</Default>
		</CommandDecorator>
	</Photon>
	<appSettings>
		<add key="ErrorWriteLogFile" value="False" />
		<add key="Engine.ErrorLib.de.engine.error.Service" value="http://error.photon.exitgames.com/service/service.asmx" />
		<add key="%Profile%" value="Default" />
	</appSettings>
</configuration>
