<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhotonControl.PhotonControlSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PhotonControl.PhotonControlSettings>
            <setting name="Instances" serializeAs="String">
                <value>Instance1,InstanceLoadBalancing</value>
            </setting>
            <setting name="PhotonWorkingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="CounterServiceName" serializeAs="String">
                <value>PhontonDashboardService</value>
            </setting>
            <setting name="LogManCreateOptions" serializeAs="String">
                <value>-si 01:00 -v mmddhhmm -cf "..\bin_tools\perfmon\logman.config.txt"</value>
            </setting>
            <setting name="LogManSetName" serializeAs="String">
                <value>photon_perf_log</value>
            </setting>
        </PhotonControl.PhotonControlSettings>
    </userSettings>
</configuration>