<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Photon.LoadBalancing.GameServer.GameServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Photon.LoadBalancing.MasterServer.MasterServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Photon.LoadBalancing.GameServer.GameServerSettings>
            <setting name="MasterIPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="PublicIPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="GamingTcpPort" serializeAs="String">
                <value>4531</value>
            </setting>
            <setting name="GamingUdpPort" serializeAs="String">
                <value>5056</value>
            </setting>
            <setting name="ConnectReytryInterval" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="OutgoingMasterServerPeerPort" serializeAs="String">
                <value>4520</value>
            </setting>
            <!--
            <setting name="LatencyMonitorAddress" serializeAs="String">
              <value>127.0.0.1:4531</value>
            </setting>
            -->
        </Photon.LoadBalancing.GameServer.GameServerSettings>
        <Photon.LoadBalancing.MasterServer.MasterServerSettings>
            <setting name="IncomingGameServerPeerPort" serializeAs="String">
                <value>4520</value>
            </setting>
            <setting name="NodesFilePath" serializeAs="String">
                <value>..\..\</value>
            </setting>
            <setting name="NodesFileName" serializeAs="String">
                <value>Nodes.txt</value>
            </setting>
            <setting name="EnableProxyConnections" serializeAs="String">
                <value>False</value>
            </setting>
        </Photon.LoadBalancing.MasterServer.MasterServerSettings>
    </applicationSettings>
</configuration>